dest/*.zip
project.json
env.json
*.sh
template_out.yml
swagger.yml
dynamodb_local

mockAuth.js
*.pem
functions/authorizer/sourceIp.js
functions/authorizer/guest.js
functions/common/headers.js

node_modules
