# secret
config.*json
mockAuth.js
*.pem
functions/authorizer/sourceIp.js
functions/authorizer/guest.js
functions/authorizer/sustain.js

# node
node_modules


# work
tmp


# debug
test.sh
dynamodb_local

.serverless/**
